<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>kakaocert SDK Nodejs - Express Example.</title>
</head>
<body>
<div id="content">
    <p class="heading1">Kakaocert Nodejs SDK - Express Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>전자서명 API (Talk Message 방식)</legend>
        <ul>
            <li><a href="KakaocertService/RequestESign">RequestESign</a> - 전자서명 요청 API (Talk Message 방식)</li>
            <li><a href="KakaocertService/RequestESignApp">RequestESign</a> - 전자서명 요청 API (App to App 방식)</li>
            <li><a href="KakaocertService/GetESignState">GetESignState</a> - 전자서명 서명상태 확인 API (공통)</li>
            <li><a href="KakaocertService/VerifyESign">VerifyESign</a> - 전자서명 서명 검증 API (Talk Message 방식)</li>
            <li><a href="KakaocertService/VerifyESignApp">VerifyESign</a> - 전자서명 서명 검증 API (App to App 방식)</li>
        </ul>
    </fieldset>

    <br/>
    <fieldset class="fieldset1">
        <legend>본인인증 API</legend>
        <ul>
            <li><a href="KakaocertService/RequestVerifyAuth">RequestVerifyAuth</a> - 본인인증 요청 API</li>
            <li><a href="KakaocertService/GetVerifyAuthState">GetVerifyAuthState</a> - 본인인증 서명상태 확인 API</li>
            <li><a href="KakaocertService/VerifyAuth">VerifyAuth</a> - 본인인증 서명검증 API</li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>자동이체 출금동의 API</legend>
        <ul>
            <li><a href="KakaocertService/RequestCMS">RequestCMS</a> - 자동이체 출금동의 요청 API (Talk Message 방식)</li>
            <li><a href="KakaocertService/RequestCMSApp">RequestCMS</a> - 자동이체 출금동의 요청 API (App to App 방식)</li>
            <li><a href="KakaocertService/GetCMSState">GetCMSState</a> - 자동이체 출금동의 서명상태 확인 API</li>
            <li><a href="KakaocertService/VerifyCMS">VerifyCMS</a> - 자동이체 서명검증 API (Talk Message 방식)</li>
            <li><a href="KakaocertService/VerifyCMSApp">VerifyCMS</a> - 자동이체 서명검증 API (App to App 방식)</li>
        </ul>
    </fieldset>
</div>
</body>
</html>
