<!DOCTYPE html>
<html>
<head>
    <title>Response</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>kakaocert SDK Express Example. </title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>receiptId (접수아이디) : <%= result.receiptId %></li>
            <li>signedData (전자서명 데이터 전문) : <%= result.signedData %></li>
        </ul>
    </fieldset>
</div>
</body>
</html>
