<!DOCTYPE html>
<html>
<head>
    <title>Response</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>kakaocert SDK Express Example. </title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>ReceiptId : <%= result %></li>
        </ul>
    </fieldset>
</div>
</body>
</html>
